.pic .info {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    background-color: #0000004A;
    color: #ffffffD0;
    height: 100%;
}

.pic {
    transition: all 500ms ease;
    cursor: pointer;
    overflow: hidden;
    margin: 0px;
    border-radius: 4px;

    height: 100%;
    display: block;
    position: relative;
}

.pic:hover img {
    transform: scale(1.1);
    opacity: .6;
}

.pic img {
    width: 100%;
    transition: all 350ms ease;
    transform: scale(1.06);
}
