.cls-1, .cls-2 {
    fill: #d6d8e5;
}

.cls-1 {
    opacity: 0.4;
}

.cls-3 {
    fill: #b1b6c4;
}

.cls-4 {
    fill: #c4c7d6;
}

.cls-5 {
    fill: #38226d;
}

.cls-6 {
    fill: #9c73ff;
}

.cls-7 {
    fill: #8c50ff;
}

.cls-8 {
    fill: #ffcea9;
}

.cls-9 {
    fill: #ededed;
}

.cls-10 {
    fill: #e5e5e5;
}

.cls-11 {
    fill: #f4f4f4;
}

.cls-12 {
    fill: #bfbfbf;
}

.cls-13 {
    fill: #3a2c6d;
}

.cls-14 {
    fill: #dceeff;
}

.cls-15 {
    fill: #dbdbdb;
}

.cls-16 {
    fill: #1e3779;
}

.cls-17 {
    fill: #031f60;
}

.cls-18 {
    fill: #b1b4c4;
}

.cls-19 {
    fill: #9ea1af;
}

.cls-20 {
    fill: #e4e7f2;
}

.cls-21 {
    fill: #201d38;
}

.cls-22 {
    opacity: 0.3;
    fill: url(#Безымянный_градиент_15);
}

.cls-23 {
    fill: #a298e2;
}

.cls-24 {
    fill: #f4ce2c;
}

.cls-25 {
    fill: #4d3bff;
}

.cls-26 {
    fill: #ff8657;
}

.cls-27 {
    fill: #c33afc;
}

.cls-28 {
    fill: #a6ce28;
}

.cls-29 {
    fill: #bcd64d;
}

.cls-30 {
    fill: #28221c;
}

.cls-31 {
    fill: #fff;
    opacity: 0.07;
}

.cls-32 {
    fill: #8da01f;
}

.cls-33 {
    fill: #99b524;
}

.cls-34 {
    fill: #e4e6ef;
}
